{% extends 'base.html.twig' %}

{% block main %}
    <div id="main" class="col">
        <div class="content" id="content_container">
            <h3>About</h3>
            <p>Hello! <br />
                I am a software and web developer plus a hard surface modeler.
            </p>

            <h3>Contact</h3>
            Email:&nbsp; kAlbright@AlbrightConcepts.com<br />
            LinkedIn:&nbsp; <a href="https://www.linkedin.com/in/kmalbright">linkedin.com/in/kmalbright</a><br />
            GitHub:&nbsp; <a href="https://github.com/King-Nivek">github.com/King-Nivek</a><br />
            
        </div>
    </div>
{% endblock %}