{% extends 'base.html.twig' %}

{% block main %}
    <div id="main" class="col">
        <div id="wrapper">
            <div id="container">
                <div id="welcome">
                    <h1>Hello!</h1>
                </div>

                <div id="intro">
                    <p>

                        Welcome to my portfolio website.
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


